@{
    Layout = null;
    ViewBag.title = "Tour With ";
}
<title>Tour with DreamTour</title>
<body>
    <div class="video">
        <video autoplay muted preload="auto" loop="loop" style="height:100%;width:100%;opacity:1" >
            <source src="~/css/timelapse_tropical_clouds_and_palm_trees_29s_4kres.mp4" type="video/mp4" />
        </video>
    </div>
   
</body>
